/* This is the design for my project page */
/* Background */
body{
    background-color: #1B1F3B;
    margin: auto;
    overflow: scroll;
    max-width: 450px;
    text-align:center; 
    vertical-align:middle;

}

.text-center {
    text-align: center;
    
}

footer {
    height: 100px;
}


h1{ 
  
  color: #454ADE;
  font-family:'Roboto', sans-serif;
}
h3{
    color: #F26419;
    font-family: 'Roboto', sans-serif;
  
}

p{
  color: #edf5e1;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  
}

/* Button for home page */
.button {
  background-color: #ffbc19;
  border: 1px solid #F26419;
  color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 150px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    
}

.button:hover{
background: #F26419;
box-shadow: 5px 40px -10px #000000;
text-decoration: none;
}

/* Charts */

.chart{
    background-color: white;
    width:700px;
	height: 400px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.chart:hover {
    
      transform: scale(1.02, 1.02);
      transition: 0.6s;
      
    }
/* Adding containers to my charts */

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: left;
}
.box {
		
    box-sizing: border-box;
    background-color: none;
	     width: auto;
	            border-radius: 10px;
	            padding: 10px;
	            text-align: center;
	            display: inline-block;
	            margin: 10px;
	            max-width: 450px;
	              
	          }

/* Hyperlinks */
a:link {
  color: #ffbc19;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #ffbc19;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #379683;
  background-color: transparent;
  text-decoration: underline;
}
