/* This is the design for my project page */
/* Background */
body{
    background-color: #5cdb95;
      max-width: 450px;
    margin: auto;
    overflow: auto;
}

h1{ 
  
  color: #edf5e1;
  font-family:'Roboto', sans-serif;
}
h3{
    color: #05386b;
    font-family: 'Roboto', sans-serif;
}

p{
  color: #05386b;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  
}

/* Charts */

.chart{
    background-color: white;
    width:400px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.chart:hover {
    
      transform: scale(1.04, 1.04);
      transition: 0.6s;
      
    }
/* Hyperlinks */
a:link {
  color: #8ee4af;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #8ee4af;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #379683;
  background-color: transparent;
  text-decoration: underline;
}
